@use "../base/variables" as variable;

.app__controls {
  margin: 1rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  @media (min-width: variable.$tablet) {
    justify-content: left;
    gap: 1rem;
  }
}

.app__button {
  border-radius: 0.3rem;
  padding: 0.6rem;
  background-color: variable.$color-text-secondary;
}
