@use "../base/variables" as variable;

.app__progress-board {
  width: 90%;
  background-color: variable.$secondary-color;
  padding-bottom: 1rem;
  border-radius: 0.5rem;
  margin: variable.$spacing-unit;
  display: flex;
  flex-direction: column;
  align-items: center;
  @media (min-width: variable.$tablet) {
    max-width: 768px;
  }
}

.app__progress-title {
  font-family: variable.$font-body;
  margin-top: 1rem;
}
