@use "../base/variables" as variable;

.app__questions {
  width: 90%;
  //   background-color: variable.$secondary-color;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 65vh;
}

.app__question-text {
  text-align: center;
  margin: 1rem;
  background-color: variable.$secondary-color;
  padding: 1rem 0;
  border-radius: 5px;
  width: 100%;
}
