@use "../base/variables" as variable;

.app__game-menu {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app__start-button {
  position: absolute;
  border: none;
  border-radius: 0.4rem;
  padding: 1.3rem;
  background-color: variable.$color-text-secondary;
}
.app__menu-video {
  height: 100vh;
  object-fit: cover;
  top: 0;
  left: 0;
  width: 100%;
  position: fixed;
}
