@use "variables" as variable;
@import url("https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&family=Press+Start+2P&display=swap");

.app__progress-title {
  color: variable.$color-text-secondary;
  letter-spacing: 0.1rem;
}
.app__question-text {
  letter-spacing: 0.1rem;
  font-family: Arial, Helvetica, sans-serif;
  color: variable.$color-text-primary;
}

.app__answer {
  color: variable.$font-color-darker;
  font-size: 1.4rem;
}

.app__button {
  font-size: 1.2rem;
  font-family: variable.$font-body;
}

.app__start-button {
  font-size: 1.2rem;
  font-family: variable.$font-body;
}
