$primary-color: #97dcff;
$secondary-color: #60b0f6;
$color-text-primary: #fff4f4f0;
$color-text-secondary: #f04679;
$font-color-darker: #fff4f4f0;
$font-body: "Pixelify Sans", sans-serif;
$font-heading: "Press Start 2P", cursive;
$spacing-unit: 1rem;

$mobile: 480px;
$table: 768px;
$desktop: 1200px;
